<main>
  <section class="d-flex justify-content-between border-bottom p-2">
    <h2 class="m-0 align-self-center">Manage Books</h2>
    <button id="btn-new-user" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#new-book-modal">New Book</button>
  </section>
  <section class="p-2">
    <input id="txt-search" class="form-control text-center" type="text" placeholder="Search Books">
  </section>
</main>

<div class="d-flex justify-content-center flex-wrap ms-2 me-2">
  <div class="ms-4 mt-4" *ngFor="let book of books">
  <div class="book" style="background-image: url({{book.urls}})">
    <div id="book-details">
      <div class="ps-3 pe-3 pt-3 pb-3">
        <label>Title : {{book.name}}</label>
        <br>
        <label>Author : {{book.id}}</label>
        <br>
        <label>Rating : 9/10</label>
        <br>
        <label>copies : 7</label>
        <div class="btn btn-primary">Lend</div>
      </div>
    </div>
  </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="new-book-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Add New User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <div class="mb-3">
          <label for="txt-id" class="form-label">User ID</label>
          <input type="text" class="form-control text-center" id="txt-id" placeholder="Generated ID"
                 disabled>
        </div>
        <div class="mb-3">
          <label for="txt-name" class="form-label">Username</label>
          <input type="text" class="form-control text-center" id="txt-name" placeholder="Eg. Dasun Dilan">
          <div class="invalid-feedback">
            Name can't be empty
          </div>
        </div>
        <div class="mb-3">
          <label for="txt-contact" class="form-label">User Contact</label>
          <input type="text" class="form-control text-center" id="txt-contact" placeholder="Eg. 077-1234567">
          <div class="invalid-feedback">
            Contact can't be empty
          </div>
        </div>
        <div class="mb-3">
          <label for="txt-address" class="form-label">User Address</label>
          <input type="text" class="form-control text-center" id="txt-address" placeholder="Eg. #99/3, Galloluwa, Weliweriya">
          <div class="invalid-feedback">
            Address can't be empty
          </div>
        </div>

        <div class="mb-3 d-flex justify-content-evenly">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Admin
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Member
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex flex-row-reverse justify-content-between">
        <!--                    <div id="loader">-->
        <!--                        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>-->
        <!--                    </div>-->
        <!--                    <button id="btn-save" type="button" class="btn btn-primary">Save Customer</button>-->

        <div id="btn-save" class="btn btn-primary ld-ext-right"
             onclick="this.classList.toggle('running')">
          Save Customer
          <div class="ld ld-ring ld-spin " id="loader"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="toast" class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
  <div id="liveToast" class="toast" data-bs-autohide="true" data-bs-delay="1000" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto"></strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
    </div>
  </div>
</div>
<div id="progress-bar">

</div>
