#tbl-issue thead tr th:first-child,
#tbl-issue thead tr td:first-child{
  width: 70px;
}

#tbl-issue thead tr th:last-child,
#tbl-issue thead tr td:last-child{
  width: 70px;
}

.contact {
  max-width: 110px;
  word-wrap: break-word;
}

#tbl-issue tbody tr {
  cursor: pointer;
}

.actions svg:first-child:hover {
  fill: green;
}
.actions svg:nth-child(2):hover {
  fill: green;
}

.actions svg:last-child:hover {
  fill: red;
}

#loader {
  visibility: hidden;
  transform: scale(0.8);
}
