<h1 class="text-center">Gampaha Library</h1>
<nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div class="container-fluid">

    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
      <div class="d-flex">
        <button type="button" class="btn btn-primary d-flex " data-bs-toggle="modal" data-bs-target="#Log-in">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stack mt-1" viewBox="0 0 16 16">
            <path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.598.598 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.598.598 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.598.598 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535L7.733.063z"/>
            <path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.598.598 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.659z"/>
          </svg>
          <div>sign-out</div>
        </button>
        <label class="d-block align-items-center mt-2 ms-2"> User: Nishan Akalanka</label>
      </div>
      <ul class="navbar-nav me-2 mb-2 mb-xl-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
    </div>
</nav>




<div class="modal fade" id="Log-in" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">SignIn</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <div class="mb-3">
          <label for="txt-username" class="form-label">Username</label>
          <input type="text" class="form-control text-center" id="txt-username" placeholder="Eg. Nishan">
          <div class="invalid-feedback">
            username can't be empty
          </div>
        </div>
        <div class="mb-3">
          <label for="txt-password" class="form-label">Password</label>
          <input type="password" class="form-control text-center" id="txt-password" placeholder="Eg. abcd#@34s">
          <div class="invalid-feedback">
            password can't be empty
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div></div>
        <button type="button" class="btn btn-primary mb-2 me-4" data-bs-dismiss="modal">login</button>
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
